.container {
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    flex-direction: column;
}

.container::before {
    content: ' ';
    flex-grow: 0.38196601;
}