@import 'styles/themes/mocha.scss';

button {
    height: 34px;
    border-radius: 3px;
    border: none;
    transition: 0.13s;
}

button:hover {
    cursor: pointer;
}

.primary {
    background-color: $green;
    color: $crust;
}

.primary:hover {
    background-color: #93dd8d;
}

.secondary {
    background-color: $surface1;
    color: $text;
}

.secondary:hover {
    background-color: #3a3c4c;
}

.link {
    background: linear-gradient(0deg, $blue, $blue) bottom center no-repeat;
    background-size: 0px 3px;
    transition: 0.21s;
    // padding: 0 0 3px 0;
    text-decoration: none;
    color: $blue;
}

.link:hover {
    background-size: 100% 3px;
}