@import 'styles/themes/mocha.scss';

.button {
    background-color: $green;
    height: 34px;
    border-radius: 3px;
    border: none;
    color: $crust;
    transition: 0.13s;
}

.button:hover {
    background-color: #93dd8d;
    cursor: pointer;
}