{% extends "layout.html" %}

{% block content %}

    {% from "form_helper.html" import displayField %}
    <h2>Retrieve password</h2>
    <p>Select a service to get its password.</p>
    <form action="{{ url_for('retrieve_password') }}" method='POST'>
        {{ displayField(select_form.services, "Services", autofocus=true) }}
        <div>
            {{ select_form.submit_select }}
        </div>
        {{ select_form.csrf_token }}
    </form>
    
    <h2>Create password</h2>
    <p>Enter the name of the service you'd like to create a password for.</p>
    <form action="{{ url_for('create_password') }}" method='POST'>
        {{ displayField(create_form.service, "Service") }}
        <div>
            {{ create_form.submit_create }}
        </div>
        {{ create_form.csrf_token }}
    </form>

{% endblock %}